@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h2>@ViewData["Title"]</h2>
        <h3>@ViewData["Phone"]</h3>
        <p>@ViewData["Message"]</p>
    </div>
    <div class="col-md-6">
    </div>
</div>